<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ときのそら２１歳の誕生日プロジェクト || Tokino Sora 21st Birthday Project</title>
    <meta name="description"
        content="ときのそらの２１歳の誕生日をお祝いするために、全世界のそらともとメッセージとファンアートと「好き、泣いちゃいそうだ」歌ってみた動画を作りました Celebrating Tokino Sora's 21st Birthday, we collected messages and art from around the world, and also made a cover video of 'Suki, Naichaisouda'">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:title" content="ときのそら２１歳の誕生日プロジェクト   ||  Tokino Sora 21st Birthday Project" />
    <meta name="og:description"
        content="ときのそらの２１歳の誕生日をお祝いするために、全世界のそらともとメッセージとファンアートと「好き、泣いちゃいそうだ」歌ってみた動画を作りました Celebrating Tokino Sora's 21st Birthday, we collected messages and art from around the world, and also made a cover video of 'Suki, Naichaisouda'" />
    {{!--
    <meta name="og:image" content="https://skk-tj.github.io/sora-anniversary/img/SORA.png"> --}}


    {{!--
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5"> --}}
    <link rel="shortcut icon" href="favicon.ico">
    {{!--
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"> --}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Patrick+Hand&family=Noto+Sans+CJK+JP&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.css"
        integrity="sha512-FHwwMXxhAWjVhJyEgmmPg/aJ3BRmsOavHBV6yMK55Mz0rycBZcRmSowqij+ncd/JPtOzmUMZx7ZIRnGyqIE/1A=="
        crossorigin="anonymous" />
    <link href="lib/timeline/css/timeline.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="dist/index.css">
</head>

<body>
    <div id="bg-container">
        <div id="particles-js"></div>
    </div>

    <header id="start-page" class="full-screen-page">
        <div id="start-page-bg" data-aos="fade-down">
        </div>
        <img src="dist/img/headerText.png" alt="" class="title-header-text" data-aos="fade-in">
        <h3 id="start-msg-en">
            Happy Birthday!!
        </h3>
        <div id="scroll-arrow-hint">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <section id="timeline-sect">
        <div class="section-title" data-aos="fade-in">
            <h1>Timeline</h1>
        </div>
        <div id="timeline-container" data-aos="fade-in">
            <div class="timeline">
                <div class="timeline__wrap">
                    <div class="timeline__items">
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2017-09-06</h2>
                                <h3>Youtube account creation date</h3>
                                <p lang="ja">
                                    「ここからすべては始まりました。」
                                </p>
                                <p>
                                    Everything started from here.
                                </p>
                                <img src="dist/img/milestones/B10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2017-11-02</h2>
                                <h3>"Soratomo" decided as fan name</h3>
                                <img src="dist/img/milestones/C10.PNG" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2018-07-28</h2>
                                <h3>"Solar System Disco" cover video uploaded</h3>
                                <img src="dist/img/milestones/E10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2018-11-03</h2>
                                <h3>Appeared in Nico Nico Cho Party 2018 @ Saitama Super Arena</h3>
                                <p lang="ja">
                                    「ニコニコ超パーティー！盛り上がってますか？」
                                </p>
                                <p>
                                    Nico Nico Cho Party, are you excited??
                                </p>
                                <img src="dist/img/milestones/F10.png" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2018-12-17</h2>
                                <h3>TUBEOUT! Vol. 1 with Tenjin Kotone and Ginga Alice</h3>
                                <p lang="ja">
                                    「あなた　侵光系！」
                                </p>
                                <p>
                                    Your systematic invasion of light!
                                </p>
                                <img src="dist/img/milestones/G10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-01-02</h2>
                                <h3>"Alien Alien" cover video uploaded</h3>
                                <p lang="ja">
                                    「エイリアン　あなたのエイリアン」
                                </p>
                                <p>
                                    Alien, I'm your Alien
                                </p>
                                <img src="dist/img/milestones/I10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-01-10</h2>
                                <h3>Anime "Virtual-san wa Miteiru" begins airing. Sora is a supporting character</h3>
                                <p>
                                    Virtual-san wa Miteiru is an anime that brings Virtual YouTubers to life.
                                </p>
                                <img src="dist/img/milestones/J10.webp" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-03-27</h2>
                                <h3>First album "Dreaming" released</h3>
                                <img src="dist/img/milestones/K10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-04-19</h2>
                                <h3>"Watanuki-san Chi no" begins airing</h3>
                                <img src="dist/img/milestones/L10.webp" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-05-15</h2>
                                <h3>19th birthday event on "Cluster"</h3>
                                <img src="dist/img/milestones/M10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-05-25</h2>
                                <h3>Light Novel publication</h3>
                                <img src="dist/img/milestones/N10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-08-24</h2>
                                <h3>Appeared in Day 1 of V-ark Virtual Summer Fest 2019</h3>
                                <img src="dist/img/milestones/O10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2019-10-06</h2>
                                <h3>First One Man Live - "Dream"</h3>
                                <h3>Sora SSR Outfit released</h3>
                                <img src="dist/img/milestones/P10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-02-14</h2>
                                <h3>Photobook "Sora Biyori" released</h3>
                                <img src="dist/img/milestones/R10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-03-04</h2>
                                <h3>Mini-album "My Loving" released</h3>
                                <img src="dist/img/milestones/S10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-03-29</h2>
                                <h3>"Sora Record" manga begins on Twitter</h3>
                                <img src="dist/img/milestones/T10.png" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-04-06</h2>
                                <h3>"Watanuki-san Chi to (Season 2)" begins airing</h3>
                                <img src="dist/img/milestones/U10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-05-15</h2>
                                <h3>20th birthday, and release of Aozora no Symphony</h3>
                                <img src="dist/img/milestones/V10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-06-14</h2>
                                <h3>20th Birthday Live</h3>
                                <img src="dist/img/milestones/W10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-07-07</h2>
                                <h3>"Alice in NY" cover video uploaded</h3>
                                <img src="dist/img/milestones/X10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-08-01</h2>
                                <h3>Guest Appearance: Ginga Alice 2nd Anniversary Live - BIG LOVE</h3>
                                <img src="dist/img/milestones/Y10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-08-14</h2>
                                <h3 lang="ja">NHKバーチャル文化祭</h3>
                                <img src="dist/img/milestones/Z10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-09-07</h2>
                                <h3>3D model update on 3rd anniversary since debut</h3>
                                <img src="dist/img/milestones/AA10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-09-26</h2>
                                <h3>Live concert with AZKi</h3>
                                <h3 lang="ja">刹那的クロニクル</h3>
                                <img src="dist/img/milestones/AB10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-10-01 - 2020-10-03</h2>
                                <h3>Emcee for Tokyo Idol Festival</h3>
                                <img src="dist/img/milestones/AC10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2020-11-29</h2>
                                <h3>Second One Man Live "Parallel Time"</h3>
                                <img src="dist/img/milestones/AG10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2021-01-23</h2>
                                <h3>TUBEOUT! Vol. 4 with Tenjin Kotone and Ginga Alice</h3>
                                <img src="dist/img/milestones/AI10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2021-01-30</h2>
                                <h3>Appearance in Vtuber Fes Japan 2021</h3>
                                <img src="dist/img/milestones/AJ10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2021-03-03</h2>
                                <h3>Casual Clothes Sora 3d model</h3>
                                <img src="dist/img/milestones/AK10.jpg" alt="">
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2>2021-04-04</h2>
                                <h3>Appearance in Day 2 of V-Carnival</h3>
                                <img src="dist/img/milestones/AL10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="artbook">
        <div class="section-title" data-aos="fade-in">
            <h1>Art (Click to enlarge)</h1>
            <h3 lang="ja">画集（写真をクリックすると拡大します）</h3>
        </div>
        <div id="artbook-gallery">
            {{#each artbook_data}}
            <a href="{{fullpage}}" data-aos="fade-up">
                <img class="artbook-page" srcset="{{thumbnail_small}} 150w, {{thumbnail}} 500w"
                    sizes="(max-width: 700px) 150px, 500px" src="{{thumbnail}}" alt="" />
                <div style="display: none;" class="art-caption-container">
                    <div class="art-caption">
                        <div class="artist-details">
                            <div class="caption-text">
                                <!-- htmlmin:ignore -->{{caption_text}}
                                <!-- htmlmin:ignore -->
                            </div>
                            <div class="artist-name">
                                <div>
                                    {{artist}}
                                </div>
                                {{#if artist_link}}
                                <div>{{artist_link}}</div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="artist-nation-flag">
                            {{#if country_code}}
                            <span class="flag-icon flag-icon-{{country_code}}" title="{{country_name}}"
                                alt="{{country_name}}"></span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </section>

    {{!-- <section id="cover-mix-sect">
        <div class="section-title" data-aos="fade-in">
            <h1>Cover Mix</h1>
            <h3 lang="ja">カバー曲</h3>
        </div>
        <div id="cover-mix-player-container" data-aos="fade-in">
            <div class="video-container">
                <iframe title="ときのそらの「おかえり」を歌ってみた" src="https://www.youtube-nocookie.com/embed/oe4tujjRENQ"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section> --}}

    <section id="birthday-msgs">
        <div class="section-title" data-aos="fade-in">
            <h1>Messages</h1>
            <h3 lang="ja">寄せ書きメッセージ</h3>
        </div>
        <div class="card-columns">
            {{#each messages}}
            <div class="birthday-msg-card-container" data-aos="fade-in">
                <div class="birthday-msg-card card card-default">
                    <div class="sender-details">
                        <div>
                            <img class="ankimo-img" src="dist/img/sddefault_live.png" alt=""></img>
                        </div>
                        <div class="sender-name-container">
                            <span class="sender-name">{{username}}</span>
                            {{#with twitter}}
                            <span class="twitter-name text-muted">@{{this}}</span>
                            {{/with}}
                        </div>
                        <div>
                            {{#if country_code}}
                            <span class="flag-icon flag-icon-{{country_code}}" title="{{country_name}}"
                                alt="{{country_name}}"></span>
                            {{/if}}
                        </div>
                        <div>
                            <img class="shooting-star-img" src="dist/img/shootingStar.png" alt=""></img>
                        </div>
                    </div>
                    <div class="birthday-msg">
                        <blockquote class="blockquote mb-0" {{#if isMsgInJP}}lang="ja" {{/if}}>
                            <!-- htmlmin:ignore -->
                            <p>{{message}}</p>
                            <!-- htmlmin:ignore -->
                        </blockquote>
                        {{#if message_jp}}
                        <hr>
                        <blockquote class="blockquote mb-0" lang="ja">
                            <!-- htmlmin:ignore -->
                            <p>{{message_jp}}</p>
                            <!-- htmlmin:ignore -->
                        </blockquote>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>

    <section id="end-page" class="half-screen-page">
    </section>
    <div id="end-page-filler"></div>

    <footer id="credits">
        <div>
            <div class="credits-section">
                <h4>Organizer</h4>
                <p>sayaka#4163</p>
            </div>
            <div class="credits-section">
                <h4>Art</h4>
                <p>RCs#0927</p>
                <p>braix#9999Orientalman#6342</p>
                <p>tsukimugi#4429</p>
                <p>@VichyN5</p>
                <p>@072maegami</p>
                <p>@Cieluscian</p>
                <p>@takaneki23</p>
                <p>@ori0niz</p>
                <p>@TheUSDoctor</p>
                <p>@Tennen_Vik</p>
                <p>@cluelessowain</p>
                <p>@kaizeshu</p>
                <p>@0204Kiseki</p>
                <p>@CrabNGarlicB</p>
                <p>@Cobalnite</p>
                <p>@FDS0100</p>
                <p>@Okinori_Haruka</p>
                <p>@alewon314</p>
                <p>@nanda_noix</p>
                <p>pixiv: SHiNVKA ( 堅理 )</p>
                <p>reddit: u/VantaRealm</p>
            </div>
            <div class="credits-section">
                <h4>Website</h4>
                <p>Warthog#6554</p>
            </div>
            <div class="credits-section">
                <h4>Video</h4>
                <p>risingtsun</p>
                <p>Huntgbunt#4230</p>
            </div>
            <div class="credits-section">
                <h4>Translation</h4>
                <p>★そらちゃん～(๑╹ᆺ╹)★#5549</p>
                <p>braix#9999</p>
                <p>Krim#0573</p>
                <p>Skk#0135</p>
                <p>Apai#8081</p>
                <p>Cobalnite#9147</p>
                <p>BaKamen#6235</p>
            </div>
            <div class="credits-section">
                <h4>Mixing</h4>
                <p>JK*</p>
            </div>
            <div class="credits-section">
                <h4>Cover</h4>
                <p>Malv#0574</p>
                <p>Kiyomi#7061</p>
                <p>Ketchup Packet#4670</p>
                <p>Apai#8081</p>
                <p>Corneus/コロネウス#5558</p>
                <p>ユイ#4703</p>
                <p>Kohaku#5850</p>
                <p>Krim#0573</p>
                <p>Xclan#1451</p>
                <p>Molvanstress#2031</p>
                <p>Sachi Saiki</p>
                <p>Amachi Naruse</p>
                <p>愛恵#0459</p>
                <p>Cobalnite#9147</p>
            </div>
            <div class="credits-section">
                <h4>Other</h4>
                <p>Arguing with Death#7777</p>
                <p>PhylumSync#0031</p>
                <p>Manhha251</p>
                <p>Liber#6189</p>
                <p>acolyte#9321</p>
                <p>! Star#2021</p>
                <p>Nyx Rose#5687</p>
                <p>LittleWhiteHerz#6662</p>
                <p>Weaboodles#4275</p>
                <p>Rune#7834</p>
                <p>sienn#4855</p>
                <p>No One But CRN !!#7052</p>
                <p>Destroyer Tokinokaze#4042</p>
                <p>Zirk#0001</p>
                <p>tam ✨🌸#0999</p>
                <p>八神麗千恵瑠#1358</p>
                <p>BlackCape#3271</p>
                <p>ユイ#4703</p>
                <p>阿凱#5511</p>
                <p>Maou#1917</p>
                <p>Kiyomi#7061</p>
                <p>Nagisa#4106</p>
                <p>Wizio#5570</p>
                <p>sixfourone#0107</p>
                <p>-Marc-9745</p>
                <p>九零#0090</p>
                <p>kiwi tea cicerone#7348</p>
                <p>Username E#1816</p>
                <p>Tsunderetta#5756</p>
                <p>いし#6799</p>
                <p>FDS001#4291</p>
                <p>surveyOR#1562</p>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js"
        integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg=="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="lib/timeline/js/timeline.min.js"></script>
    <script src="dist/index.js"></script>
</body>

</html>